<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ path() }}js/jquery-2.1.1.min.js"></script>
    <script src="{{ path() }}js/video-js/video.js"></script>
    <link rel="stylesheet" href="{{ app.asset_path }}js/video-js/video-js.css">
    <script src="{{ path() }}js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ path() }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ path() }}css/style.css">
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        {% include 'login.twig' %}
        {# Links principais#}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="{{ path() }}">Home</a></li>
                </ul>
            </div>
            {% include 'menu.twig' %}
        </div>
    </div>
</nav>